@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
/*Estilos da página index.html*/
.center {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.bgPrimary {
    background-color:#cce3e0;
}

.justify {
  text-align: justify;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#menu li {
  display: inline;
  padding: 15px;
}

#menu li a {
  text-decoration: none;
  color: rgb(2, 22, 131);
  font-size: 20px;
}

#menu li a:hover {
  color: gray;
}

.p-30 {
  padding: 30px;
}

.br-50 {
  border-radius: 50%;
}

.wh-300 {
  /*circular uma imagem*/
  object-fit: cover;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.tm-social {
  padding: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

/*Estilos da página index.html*/

.ml-50 {
  margin-left: 50px;
}
